<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (products.length > 0) { %>
                <ul class="cart__item-list">
                    <% products.forEach(p => { %>
                        <li class="cart__item">
                            <h1><%= p.productId.title %></h1>
                            <h2>Quantity: <%= p.quantity %></h2>
                        </li>
                    <% }) %>
                </ul>
                <div class="centered">
                   <h1>Total: <%=totalSum%></h1> 
                </div>

                <div class="centered">
                    <button class="btn" id='order-btn'>Order Now!</button>
                    <script src="https://js.stripe.com/v3/"></script>
                    <script>
                        var stripe = Stripe('pk_test_51GqFyyHOLkwZftVeiPiB62UT3aubq938V2tMDC1rLAxxAJuqN0090DbO6vgXnRcGH73dDdbud3H0HlA9ouP1QG8P00RWisG9iq')
                        var orderBtn = document.getElementById('order-btn')
                        orderBtn.addEventListener('click', function(){
                            stripe.redirectToCheckout({
                                sessionId:'<%=sessionId%>'
                            })
                        })
                    </script>
                </div>
                
            <% } else { %>
                <h1>No Products in Cart!</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>